extends layout

block content
  main(role='main')
    .jumbotron
      .container      
        h1.text-danger.display-4= public.app_name
        h5.text-muted &copy; #{public.company}
        hr
        a Dieser Webdienst zeigt Wachalarme im Vollbild an (inkl. synthetischer Sprachdurchsage und Karte).
        p Zusätzlich besteht für Einsatzkräfte die Möglichkeit zur einfachen Rückmeldung.
        p Nachfolgend können Sie aus einer der aufgef&uuml;hrten Wachen ausw&auml;hlen. Entsprechend Ihrer Berechtigungen werden Ihnen auf dem Alarmmonitor alle oder nur ausgew&auml;hlte Einsatzdaten angezeigt.
    .container
      .row
        .col-md-12
          .card
            if !user
              .card-header
                h4.card-title.text-warning Sie sind nicht angemeldet! 
              .card-body
                .card-text 
                  p Ohne Anmeldung haben Sie nur Zugriff auf einen eingeschr&auml;nkten Funktionsumfang.
                  p.text-muted Bitte melden Sie sich #[a(href="/login") hier] an.
            else
              .card-header
                h4.card-title.text-info='Sie sind als Nutzer \''+user.user+'\' angemeldet.'
              .card-body
                p.card-text Entsprechend Ihrer Berechtigungen haben Zugriff auf folgende Wachalarme:
                ul
                  each val in user.permissions.split(',')
                    li
                      if user.permissions == 'admin'
                        a.text-muted Sie sind Administrator und haben somit vollst&auml;ndigen Zugriff auf #[a(href="/waip/0") alle] Wachalarme
                      else
                        a(href="/waip/" + val)= val  
        .col-md-4.p-3
          .card.h-100
            .card-header
              h1.text-info Wache
            .card-body
              p.text-muted Zeigt den Wachalarm einer der einzelnen Wache (z.B. Feuerwach, Rettungswache etc.) an.
            .card-footer.text-right
              .dropdown
                button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | bitte ausw&auml;hlen
                .dropdown-menu
                  each item in list_wachen
                    if item.typ == 'wache'
                      a.dropdown-item(href='/waip/'+ item.nr)= item.name
        .col-md-4.p-3
          .card.h-100
            .card-header            
              h1.text-info Tr&auml;ger
            .card-body
              p.text-muted Zeigt alle Wachalarme der Wachen eines Tr&auml;gers (Amt, amtsfreie Gemeinde, Stadt) an.
            .card-footer.text-right
              .dropdown
                button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | bitte ausw&auml;hlen
                .dropdown-menu
                  each item in list_wachen
                    if item.typ == 'traeger'
                      a.dropdown-item(href='/waip/'+ item.nr)= item.name
        .col-md-4.p-3
          .card.h-100
            .card-header
              h1.text-info Kreis
            .card-body
              p.text-muted Zeigt alle Wachalarme des gesamten Kreises (egal ob f&uuml; Feuerwehr oder Rettungsdienst) an.
            .card-footer.text-right
              .dropdown
                button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | bitte ausw&auml;hlen
                .dropdown-menu
                  each item in list_wachen
                    if item.typ == 'kreis'
                      a.dropdown-item(href='/waip/'+ item.nr)= item.name
