extends layout

append head
  link(rel='stylesheet', href='/css/leaflet.css')

block content
  include includes/modal_info
  include includes/modal_rmld
  .container-fluid
    include includes/master_rueckmeldung
  script.
    map_tile='#{map_tile}'
    map_attribution='!{map_attribution}'
    var einsatzdaten_obj = !{JSON.stringify(einsatzdaten).replace(/<\//g, '<\\/')}
  script(src='/js/leaflet.js')
  script(src='/js/client_rmld.js')