extends layout

append head
  link(rel='stylesheet', href='/css/leaflet.css')

block content
  include includes/modal_info
  //include includes/modal_rmld
  .container-fluid
    #waipclock.d-none
      include includes/master_clock
    #waiptableau.d-none
      include includes/master_wachalarm

  script.
    var map_tile = !{JSON.stringify(map_tile).replace(/<\//g, '<\\/')}
    var client_id = !{JSON.stringify(app_id).replace(/<\//g, '<\\/')}
  script(src='/js/leaflet.js')
  script(src='/js/textFit.min.js')
  script(src='/socket.io/socket.io.js') 
  script.
    wachen_id="#{wachen_id}"
    waip_id=null
  script(src='/js/waip_client.js')
