extends ../layout

block content
  main(role='main')
    .container
      .row
        .col-12.p-3
          .card.bg-dark
            .card-body.text-center.text-muted
              h3 - wählen Sie ein Dashboard -
        each val, index in dataSet
          .col-12.col-xl-6.d-flex.align-self-stretch.p-3
            .card.w-100
              .card-header
                case val.einsatzart
                  when 'Brandeinsatz'
                    h5.font-weight-bold.text-danger.ion-md-flame= ' ' + val.einsatzart + ' - ' + val.stichwort
                  when 'Hilfeleistungseinsatz'
                    h5.font-weight-bold.text-info.ion-md-construct= ' ' + val.einsatzart + ' - ' + val.stichwort
                  when 'Rettungseinsatz'
                    h5.font-weight-bold.text-warning.ion-md-medkit= ' ' + val.einsatzart + ' - ' + val.stichwort
                  when 'Krankentransport'
                    h5.font-weight-bold.text-success.ion-md-medical= ' ' + val.einsatzart + ' - ' + val.stichwort                    
                  default
                    h5.font-weight-bold.ion-md-information-circle= ' ' + val.einsatzart + ' - ' + val.stichwort
              .card-body.d-flex.justify-content-between
                .h-100.rounded( id='map' + val.uuid )
                if val.ortsteil
                  a= val.ort + ', ' + val.ortsteil
                else
                  p= val.ort
              .card-footer.text-right
                a.btn.btn-primary.mx-2.ion-md-arrow-round-forward(href='/dbrd/' + val.uuid, role='button')  Dashboard aufrufen
  
